body
{
	margin: 0px;
	padding: 0px;
	font-family: product-sans-bold;
	background: rgb(147,176,255);
	background: linear-gradient(180deg, rgba(147,176,255,1) 25%, rgba(73,88,129,1) 100%);
	-webkit-overflow-scrolling: touch;
}

/* Hide scrollbar for mobile */
::-webkit-scrollbar 
{ 
    display: none; 
}

#desktop
{
	/* Hide the desktop page/view */
	display: none;
}


/* Header Styling */
#mobile header
{
	display: block;
	background-color: var(--darkBlue);
	color: white;
	padding: 10px 15px 15px 15px;
	border-radius: 0px 0px 40px 40px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.10), 0 3px 20px rgba(0,0,0,0.17);
}
#mobile header div.header-top-left
{
	float: left;
}
#mobile header img.header-top-right
{
	float: right;
}
#mobile header div.header-top
{
	width: 100%;
}
#mobile header div.header-top-left p
{
	display: inline-block;
	font-size: 2.5em;
	margin: 0 0 0 15px;
	position: relative;
	top: 55%;
	transform: translate(0, -55%);

}
#mobile header div img
{
	height: 80px;
	display: inline-block;
}
#mobile header img.header-top-right
{
	margin-top: 4px;
	height: 69px;
}


/*Search Bar Styling*/
::placeholder
{
	color: var(--lightGray) 
}
#mobile header input
{
	width: 86%;
	height: 60px;
	border-radius: 50px;
	border: none;
	font-size: 2.7em;
	font-family: product-sans-bold;
	color: var(--lightGray);
	padding: 10.5px 7%;
}

/* Filter Buttons */
#mobile .filters
{
	height: 70px;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}
#mobile .filters ul
{
	list-style-type: none;
	white-space: nowrap;
	font-size: 1.4em;
	margin-top: 5px;
}
#mobile .filters ul li
{
	display: inline-block;
	padding: 20px;
	color: var(--lightBlue);
}
#mobile .filters ul li#selected
{
	color: white;
	border-bottom: 3px solid white;
}

/*Search Items Styling*/
#mobile .items
{
	margin-top: 4px;
}
#mobile .item
{
	background-color: white;
	margin: 0 auto 12px auto;
	width: 88%;
	border-radius: 10px;
	display: flex;
	padding: 12px;
}
#mobile .item h1
{
	margin: 0; padding: 0;
	display: inline-block;
	font-size: 1.75em;
}
#mobile .item p
{
	margin: 0 0 12px 0; padding: 0;
	color: var(--gray);
	font-size: 1.3em;
	display: inline-block;
	font-family: product-sans;
}
#mobile .item .item-pic
{
	margin-right: 12px;
	align-items: stretch;
	width: 600px;
	overflow: hidden;
	border-radius: 10px;
}
#mobile .item .item-pic
{
	background-image: url('../images/food/items/LoganTavern.jpg');
	background-size: cover;
	background-position: center;
}
#mobile .item .item-stars
{
	height: 30px;
}
#mobile .item .item-info
{
	align-items: stretch;
	margin-top: -1.4%;
}