/* Hide scrollbar for mobile */
::-webkit-scrollbar { display: none; }

/* Change color of user highlighted text */
::-moz-selection { background: var(--blue); }
::selection { background: var(--blue); }

/* Hide the desktop page/view */
#desktop { display: none; }

body
{
	margin: 0px;
	padding: 0px;
	font-family: product-sans-bold;
	background: rgb(147,176,255);
	background: linear-gradient(180deg, rgba(147,176,255,1) 25%, rgba(73,88,129,1) 100%), rgb(73,88,129,1);
	-webkit-overflow-scrolling: touch;
}


/* Stopping the user from being able to scroll horizontally */
#mobile { overflow-x: hidden; }


/* Header Styling */
#mobile header
{
	display: block;
	background-color: var(--darkBlue);
	color: white;
	padding: 10px 15px 15px 15px;
	border-radius: 0px 0px 40px 40px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.10), 0 3px 20px rgba(0,0,0,0.17);
	margin-bottom: 10px;
}
#mobile header div.header-top-left
{
	float: left;
}
#mobile header img.header-top-right
{
	float: right;
	height: 80px;
	transition: .075s;
}
#mobile header img.header-top-right:hover
{
	cursor: pointer;
	transform:  scale(1.075);
	transition: .075s;
}
#mobile header div.header-top
{
	width: 100%;
}
#mobile header div.header-top-left p
{
	display: inline-block;
	font-size: 2.5em;
	margin: 0 0 0 15px;
	position: relative;
	top: 55%;
	transform: translate(0, -55%);

}
#mobile header div img
{
	height: 80px;
	display: inline-block;
}
#mobile header img.header-top-right
{
	margin-top: 10px;
	height: 60px;
}


/*Search Bar Styling*/
::placeholder { color: var(--lightGray) }
textarea:focus, input:focus { outline: none; }
#mobile header input
{
	width: 86%;
	height: 60px;
	border-radius: 50px;
	border: none;
	font-size: 2.7em;
	font-family: product-sans-bold;
	color: var(--lightGray);
	padding: 10.5px 7%;
}


/* Filter Buttons */
#mobile .filters
{
	height: 70px;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-y: hidden; overflow-x: scroll;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
#mobile .filters ul
{
	list-style-type: none;
	white-space: nowrap;
	font-size: 1.4em;
	margin-top: 5px;
	margin-left: 25px;
	padding: 0;
}
#mobile .filters ul li
{
	display: inline-block;
	padding: 20px;
	color: var(--lightBlue);
	margin-top: -7px;
}
#mobile .filters ul li:hover
{
	cursor: pointer;
	border-bottom: 3px solid var(--lightBlue);
}
#mobile .filters ul li#selected
{
	color: white;
	border-bottom: 3px solid white;
}


/*Search Items Styling*/
#mobile .item
{
	background-color: white;
	margin: 0 auto 8px auto;
	width: 89%;
	border-radius: 10px;
	display: flex;
	padding: 12px;
}
#mobile .item h1
{
	margin: 0; padding: 0;
	display: inline-block;
	font-size: 1.75em;
}
#mobile .item p
{
	margin: 0 0 12px 0; padding: 0;
	color: var(--gray);
	font-size: 1.3em;
	display: inline-block;
	font-family: product-sans;
}
#mobile .item .item-stars
{
	width: 60%;
	max-width: 150px;
	min-width: 130px;
}
#mobile .item .item-info
{
	align-items: stretch;
	margin-top: -1.4%;
}
#mobile .item aside
{
	color: rgb(159, 159, 159);
	font-family: product-sans;
	display: inline-block;
}
#mobile .item .item-pic
{
	margin-right: 12px;
	align-items: stretch;
	width: 600px;
	max-width: 600px;
	overflow: hidden;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
}
#mobile .item .item-pic#LoganTavern{background-image: url('../images/food/items/LoganTavern.jpg');}
#mobile .item .item-pic#OldEbbittGrill{background-image: url('../images/food/items/OldEbbittGrill.jpg');}
#mobile .item .item-pic#FoundingFarmersDC{background-image: url('../images/food/items/FoundingFarmersDC.jpg');}
#mobile .item .item-pic#ZaytinyaDC{background-image: url('../images/food/items/ZaytinyaDC.jpg');}


/* Mobile Navigation Styling */
nav#mobile-nav
{
	display: none;
}
div#mobile-nav-items
{
	display: none;
}
.current-page
{
	color: rgba(255, 255, 255, .5);
}
div#mobile-nav-items header
{
	font-size: 2.5em;
	background: var(--darkBlue);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	position: relative;
	z-index: 11;
	border-radius: 0;
	margin: 0;
}
div#mobile-nav-items header div#mobile-nav-title
{
	display: inline-block;
	height: 100%;
	line-height:65px;
	white-space: nowrap;
	text-transform: uppercase;
	margin: 10px 0 0 0px;
}
nav#mobile-nav
{
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 70px;
	left: 0;
	margin: 2px -5px 0 0;
}
nav#mobile-nav div#webpage-title
{
	display: inline-block;
	position: absolute;
	left: 0;
	transition: .1s;
	color: white;
	font-size: 250%;
	text-transform: uppercase;
	font-weight: bolder;
	margin-top: 20px;
}
nav#mobile-nav div#webpage-title-home
{
	position: absolute;
	right: 35px;
	transition: .1s;
	top: 48%;
	transform: translate(0, -50%);
	margin-right: 35px;
	color: white;
	font-size: 250%;
	text-transform: uppercase;
	font-weight: bolder;
	overflow-x: hidden;
}
nav#mobile-nav img#nav-button
{
	position: absolute;
	right: 0;
	height: 63px;
	transition: .1s;
	top: 50%;
	transform: translate(0, -50%);
	margin: 3px 18px 0 0;
}
nav#mobile-nav img#nav-button:hover
{
	transform: translate(0, -50%) scale(1.1);
	transition: .1s;
	cursor: pointer;
}
nav#mobile-nav img#nav-button-home
{
	position: absolute;
	right: 0px;
	height: 50px;
	transition: .1s;
	top: 50%;
	transform: translate(0, -50%);
	margin-right: 10px;
	overflow-x: hidden;
}
nav#mobile-nav img#nav-button-home:hover
{
	transform: translate(0, -50%) scale(1.1);
	transition: .1s;
	cursor: pointer;
}
div#mobile-nav-items
{
	display: none;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
div#mobile-nav-items nav a
{
	letter-spacing: .5px;
	display: block;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 70px;
	text-align: center;
	font-size: 300%;
	font-weight: bolder;
	letter-spacing: .5vw;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	position: relative;
}
div#mobile-nav-items nav a#Home
{
	background-color: var(--blue);
	z-index: 10;
}
div#mobile-nav-items nav a#Maps
{
	background-color: rgb(132, 161, 240);
	z-index: 9;
}
div#mobile-nav-items nav a#Places
{
	background-color: rgb(117, 146, 225);
	z-index: 8;
}
div#mobile-nav-items nav a#Food
{
	background-color: rgb(102, 131, 210);
	z-index: 7;
}
div#mobile-nav-items nav a#Transit
{
	
	background-color: rgb(87, 116, 195);
	z-index: 6;
}
div#mobile-nav-items nav a#Attire
{
	
	background-color: rgb(72, 101, 180);
	z-index: 5;
}


/* Mobile Navigation Animations */
@-webkit-keyframes slide-in
{
	0%
	{
		transform: translate(0px, -400vh);
	}
	100%
	{
		transform: translate(0px, 0px);
	}
} 

@keyframes slide-in
{
	0%
	{
		transform: translate(0px, -400vh);
	}
	100%
	{
		transform: translate(0px, 0px);
	}
} 

@-webkit-keyframes slide-out
{
	0%
	{
		transform: translate(0px, 0px);
	}
	100%
	{
		transform: translate(0px, -400vh);
	}
}

@keyframes slide-out
{
	0%
	{
		transform: translate(0px, 0px);
	}
	100%
	{
		transform: translate(0px, -400vh);
	}
}