
/*
*****************************************************************************
*                                                                         	*
*	File Name: main.css                                                 	*
*                                                                         	*
*	Designer: Patrick Crowley                                            	*
*                                                                         	*
*	Developer: Patrick Crowley                                            	*
*                                                                         	*
*	Purpose: This is the main css document used fo each web page            *
*                                                                         	*
*	History: [March 3rd, 2019] Finished design and began coding website   	*
*            [March 5th, 2019] Finished home page, began working on         *
*						       Map page                                     *
*    		 [March 7th, 2019] Finished map page, began working on        	*
*    						   Food page                                  	*
*    		 [March 9th, 2019] Finished Food page, began working on       	*
*   						   Places page                                	*
*   		 [March 11th, 2019] Finished Places page, began working on    	*
*   							Transit page                              	*
*   		 [March 13th, 2019] Finished Transit page, began working on   	*
*   							Dress Code page                           	*
*   		 [March 15th, 2019] Finished Dress Code page, began working on	*
*   							scaling                                   	*
*   		 [March 26th, 2019] Continued working on scaling              	*
*   	                                                                  	*
*****************************************************************************
*/

/*

	Universal page editors
	
	Document this section edits: index.html, food.html, 
	
	Developer: Patrick Crowley
	
	Date created: March 3rd, 2019
	
	Purpose: This code will edit elements on every page, specifically
			 the navigation bar and fonts for each page.

*/


/* Poduct Sans Bold font */
@font-face
{
	font-family: product-sans-bold;
	src: url('../fonts/ProductSansBold.ttf');
}

/* Poduct Sans Regular font */
@font-face
{
	font-family: product-sans-regular;
	src: url('../fonts/ProductSansRegular.ttf');
}

#mobile
{
	display: none;
}
#desktop
{
	position: absolute;
	top: 0; left: 0;
	width: 100vw;
}

/* Body */
body
{
	background-color: #93b0ff;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: auto;
    padding: 0; margin: 0;
}

/* White BPA Logo */
#logo
{
	position: relative;
	display: inline-block;
	float: left;
	left: 6%;
	width: 170px;
	z-index: 100;
	margin-top: 10px;
}

/* Gadient at the top of the home page */
.menubar
{
	position: absolute;
	background-image: linear-gradient(rgba(0,0,0,.35), transparent);
	height: 200px;
	z-index: 10;
	width: 110vw;
	top: 0;
	left: 0;
	pointer-events: none;
}

/* Navigation buttons */
.menutext
{
	float: right;
	margin-right: 1%;
	font-family: product-sans-bold;
	text-shadow: 0px 0px 12px black;
	color: white;
	font-size: 27px;
	z-index: 100;
	position: relative;
	display: inline-block;
}

/* Spaces out the navigation buttons */
.menutext ul li
{
	display: inline-block;
	padding: 0 13px;
}

/* Forces the navigation buttons to align right */
.menutext ul
{
	float: right;
}

.link
{
	text-decoration: none;
	color: white;
}

#page
{
	text-decoration: underline;
}

/* Back layer for the background */
#staticback1
{
	position: absolute;
	z-index: -100px;
	margin-top: -800px;
}

/* Second to back layer for the background */		
#staticback2
{
	position: absolute;
	z-index: -99px;
	margin-top: -750px;
}
	
/* Second to front layer for the background */	
#staticback3
{
	position: absolute;
	z-index: -98px;
	margin-top: -740px;
}

/* Front layer for the background */	
#staticback4
{
	position: absolute;
	z-index: -97px;
	margin-top: -290px;
	
}

/* Title for each page displayed next to it's image */
#title
{
	display: block;
	position: relative;
	z-index: 10;
	font-family: product-sans-bold;
	color: white;
	text-shadow: 0px 0px 5px grey;
	font-size: 60px;
	margin: 25px 0px 0px 110px;
}

/* The images that pair together with the title for each page */
#titleimage
{
	margin-top: 0px;
	position: absolute;
	z-index: 11;
}

/*

	Website Page: Home Page
	
	Document this section edits: index.html
	
	Developer: Patrick Crowley
	
	Date created: March 3rd, 2019
	
	Purpose: This is the styling used for the home page

*/

#bpanlc
{
	margin-left: 9%;
	margin-top: 100px;
	line-height: 150px;
	font-size: 200px;
	font-family: product-sans-bold;
	color: white;
	z-index: 100;
}

#paragraph
{
	position: relative;
	margin-left: 10%;
	margin-top: 400px;
}

#homepara
{
	position: relative;
	font-size: 20px;
	font-family: product-sans-regular;
	color: white;
	z-index: 99;
}

#homepeople
{
	display: block;
	position: relative;
	height: 85%;
	z-index: 3;
	float: right;
	margin-right: -18%;
	margin-top: 0px;
}

#back2
{
	margin-top: -190px;
}

#middle2
{
	margin-top: -150px;
}

#front2
{
	margin-top: -145px;
}

#top2
{
	margin-top: 300px;
	height: 100vh;
}

/* Parallax effect of the home page */
.parallax-bg
{
    -webkit-perspective: 100px;
    perspective: 100px;
    height: 100vh;
	width: 105vw;
    overflow-x: hidden;
}

/* Edits each frame of a parallax layer (applies to all) */
.parallax-layer
{
    position: absolute;
    top: 0; right: 0;  bottom: 0; left: 0;
}

/* Edits the image of a parallax layer (applies to all) */
.parallax-layer img
{
    display: block;
    position: absolute;
    bottom: 1;
    right: 50%;
    transform: translate(50%, 0);
}

/* Edits the back layer of the parallax scrolling effect (applies to back2.png only) */
#parallax-layer-0
{
    -webkit-transform: translateZ(-200px) scale(2.5);
    transform: translateZ(-200px) scale(2.5);
}

/* Edits the middle layer of the parallax scrolling effect (applies to middle2.png only) */
#parallax-layer-1
{
    -webkit-transform: translateZ(-150px) scale(2);
    transform: translateZ(-150px) scale(2);
}

/* Edits the front layer of the parallax scrolling effect (applies to front2.png only) */
#parallax-layer-2
{
    -webkit-transform: translateZ(-100px) scale(1.5);
    transform: translateZ(-100px) scale(1.5);
}

/* Edits the ground layer of the parallax scrolling effect (applies to top2.png only) */
#parallax-layer-3
{
    -webkit-transform: translateZ(-50px) scale(1);
    transform: translateZ(-50px) scale(1);
}

/* Edits the ground layer of the parallax scrolling effect (applies to BPA NLC only) */
#parallax-layer-4
{
    -webkit-transform: translateZ(0px) scale(1);
    transform: translateZ(0px) scale(1);
}

#parallax-layer-5
{
    -webkit-transform: translateZ(-20px) scale(1);
    transform: translateZ(-20px) scale(1);
}

#parallax-layer-6
{
    -webkit-transform: translateZ(0px) scale(1);
    transform: translateZ(0px) scale(1);
}

/*

	Website Page: Map
	
	Document this section edits: map.html
	
	Developer: Patrick Crowley
	
	Date created: March 18th, 2019
	
	Purpose: This is the styling used for the Map page

*/

#mappage
{
	height: 100vh;
	width: 100vw;
}

/*

	Website Page: Information (Home Page)
	
	Document this section edits: index.html
	
	Developer: Patrick Crowley
	
	Date created: March 3rd, 2019
	
	Purpose: These will be the pages of information that the use can scoll to fom the top of the page

*/

/* Displaces the first page of information below the parallax start of the page */
.below-info
{
    margin-top: 100vh;
}

/* Modifies the first page of information below the parallax start of the page */
.info-section
{
    position: relative;
    height: 100vh;
    background: #0f2e89;
    color: white;
	z-index: 100;
}

/*

	Website Page: Food Page
	
	Document this section edits: food.html
	
	Developer: Patrick Crowley
	
	Date created: March 7th, 2019
	
	Purpose: This is the styling used for the food page

*/

/* Tags taht are used for search parameters */
#tags
{
	position: relative;
	z-index: 1000;
	font-family: product-sans-regular;
	color: white;
	font-size: 20px;
	padding-left: 3%;
}

/* Search box for the user to search food locations */
.search
{
	position: relative;
	margin-top: 20px;
	border-style: none;
	border-radius: 30px;
	margin-left: 3%;
	z-index: 100;
}

/* Text inside of the search box */
.search input[type=text] 
{
	color: grey;
	height: 35px;
	width: 30%;
	border-style: none;
	font-size: 22px;
	box-shadow: 0px 0px 5px rgb(0, 0, 0, .5);
	border-radius: 30px;
	padding-left: 20px;
	font-family: product-sans-regular;
}

/* Div that holds all of the food places in a vertical list */
.searchresults
{
	display: block;
	position: relative;
	margin: 0% 0% 15px 3%;
	width: 47vw;
	height: 65.5vh;
	overflow-y: auto;
	z-index: 1000;
}

/* Modifies each location mini description that the user can click on */
.loc
{
	position: relative;
	border-radius: 30px;
	background-color: white;
	height: 160px;
	width: 45vw;
	box-shadow: 0px 0px 5px rgb(0, 0, 0, .5);
}

/* Modifies the title of the restaurant */
#head
{
	position: relative;
	display: block;
	font-family: product-sans-bold;
	font-size: 30px;
	padding: 10px 0px 0px 0px;
	margin-left: 220px;
}

/* Modifies the picture of the restaurant */
#place
{
	position: relative;
	border-radius: 30px 0px 0px 30px;
	height: 160px;
	float: left;
}

/* Modifies the short desccription of the restaurant */
#para
{
	position: relative;
	display: block;
	font-family: product-sans-regular;
	font-size: 21px;
	margin-top: -25px;
	margin-left: 220px;
}

/* Div that holds the Google Map */
.foodmap
{
	display: block;
	position: relative;
	z-index: 1000;
	border-radius: 30px;
	float: right;
	margin: 1%;
	width: 47vw;
	height: 65.5vh;
	margin-top: -66vh;
}

/* Modifies the text displayed above the Google Map */
#heading
{
	margin-top: -30px;
	font-family: product-sans-regular;
	color: white;
	font-size: 30px;
	text-align: center;
	text-shadow: 0px 0px 5px rgb(0, 0, 0, .7);
}

/* Div that modifies the Google Map */
.karl
{
	margin-top: -25px;
	border-radius: 30px;
	width: 47vw;
	height: 65.5vh;
	overflow: hidden;
	box-shadow: 0px 0px 5px rgb(0, 0, 0, .7);
}

/* Modifies the Google Map directly */
#map
{
	height: 65.5vh;
	width: 100%;
}

/*

	Website Page: Transit
	
	Document this section edits: transit.html
	
	Developer: Patrick Crowley
	
	Date created: March 18th, 2019
	
	Purpose: This is the stling used for the Transit page

*/

.transitsearch
{
	position: relative;
	border-style: none;
	border-radius: 30px;
	margin-left: 3%;
	z-index: 100;
}

/* Text inside of the search box */
.transitsearch input[type=text] 
{
	color: grey;
	height: 35px;
	width: 55%;
	border-style: none;
	font-size: 22px;
	box-shadow: 0px 0px 5px rgb(0, 0, 0, .5);
	border-radius: 30px;
	padding-left: 20px;
	font-family: product-sans-regular;
}

.viewtraffic
{
	display: block;
	width: 200px;
	border-radius: 30px;
	padding-left: 1.5vw;
	font-family: product-sans-regular;
	color: lightgrey;
	box-shadow: 0px 0px 4px rgb(0, 0, 0, .5);
	font-size: 30px;
	height: 40px;
	margin-top: -200px;
	margin-left: 31.5vw;
}

.viewmap
{
	display: block;
	width: 150px;
	border-radius: 30px;
	padding-left: 1.5vw;
	font-family: product-sans-regular;
	color: lightgrey;
	box-shadow: 0px 0px 4px rgb(0, 0, 0, .5);
	font-size: 30px;
	height: 40px;
	margin-top: -20px;
	margin-left: 33vw;
}

#washington
{
	font-family: product-sans-regular;
	color: lightgrey;
	font-size: 50px;
	margin-top: -110px;
}

#transitoptions
{
	font-family: product-sans-regular;
	color: lightgrey;
	font-size: 30px;
	margin-top: -50px;
}

/* Div that contains all the results for locations for the transit page */
.transitresults
{
	display: block;
	position: absolute;
	z-index: 100;
	margin: 5vh 25vw;
	padding: 200px 30px 30px 30px;
	width: 47vw;
	height: 50vh;
	overflow-y: auto;
	z-index: 1000;
	border-radius: 30px;
	background-color: white;
	box-shadow: 0px 0px 10px rgb(0, 0, 0, .5);
}

/* Modifies each location mini description that the user can click on */
.loc
{
	position: relative;
	border-radius: 30px;
	background-color: white;
	height: 160px;
	width: 45vw;
	box-shadow: 0px 0px 5px rgb(0, 0, 0, .5);
}

/* Modifies the title of a location */
#head
{
	position: relative;
	display: block;
	font-family: product-sans-bold;
	font-size: 30px;
	padding: 10px 0px 0px 0px;
	margin-left: 220px;
}

/* Modifies the picture of a location */
#place
{
	position: relative;
	border-radius: 30px 0px 0px 30px;
	height: 160px;
	float: left;
}

/* Modifies the short desccription of a location */
#para
{
	position: relative;
	display: block;
	font-family: product-sans-regular;
	font-size: 21px;
	margin-top: -25px;
	margin-left: 220px;
}

/*

	Website Page: Attire
	
	Document this section edits: attire.html
	
	Developer: Patrick Crowley
	
	Date created: March 5th, 2019
	
	Purpose: This is the stling used for the Attire page

*/

/* Div that holds the mens attire information */
.men
{
	display: block;
	float: left;
	width: 44vw;
	height: 85vh;
	margin-left: 5%;
}

/* Div that holds the womens attire information */
.women
{
	display: block;
	float: right;
	width: 44vw;
	height: 85vh;
	margin-right: 5%;
	margin-top: -14px;
}

/* Modifies the height of the mens attire photos */
#person1, #person2
{
	display: block;
	height: 600px;
	margin-top: -60px;
}

/* Modifies the height of the womens attire photos */
#person3, #person4
{
	display: block;
	height: 650px;
	margin-top: -90px;
}

/* Modifies the margin of the mens attire photos */
#person1, #person3
{
	margin-left: 40px;
}

/* Modifies the margins of the womens attire photos */
#person2, #person4
{
	margin-left: 10px;
}

/* Modifies each div containing the different dress styles */
.casmen, .formmen, .formwomen, .caswomen
{
	display: block;
	font-family: product-sans-regular;
	color: white;
	width: 250px;
	text-shadow: 0px 0px 5px black;
	font-size: 35px;
}

/* Modifies the casual men image on the page */
.casmen
{
	float: left;
}

/* Modifies the formal men image on the page */
.formmen
{
	float: right;
}

/* Modifies the formal women image on the page */
.formwomen
{
	float: left;
}

/* Modifies the casual women image on the page */
.caswomen
{
	float: right;
}

/* Corrects the misalignment of the womens attire photos */
.formwomen, .caswomen
{
	margin-top: -14px;
}

/* Disables page scrolling */
.background
{
	overflow-y: hidden;
}

/* Modifies the background images statickback 1, 2, 3 and 4 */
#staticback1
{
	float: top;
	position: absolute;
	z-index:-1000;
	margin-top: 0px;
	margin-left: -3000px;
	overflow-y: hidden;
}

#staticback2
{
	float: top;
	position: absolute;
	z-index:-999;
	margin-top: 0px;
	margin-left: -3000px;
	overflow-y: hidden;
}

#staticback3
{
	float: top;
	position: absolute;
	z-index:-998;
	margin-top: 0px;
	margin-left: -3000px;
	overflow-y: hidden;
}

#staticback4
{
	float: top;
	position: absolute;
	z-index: -997;
	margin-top: 450px;
	height: 5000px;
	margin-left: -5000px;
	overflow-y: hidden;
}

#backbutton
{
	font-family: product-sans-regular;
	color: white;
	text-shadow: 0px 0px 5px rgb(0, 0, 0, .5);
	font-size: 30px;
	margin-left: 5vw;
	margin-top: 20px;
	position: absolute;
	z-index: 100;
}